*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    padding: 0%;
    margin: 0%;
}
#photo{
    height: 35vh;
    width: 23%;
    background-color: rgb(254, 229, 0);
    color: black;
    text-align: center;
    position: relative;
    padding: 5%;
    font-size: larger;
}
#side-bar{
    height: 65vh;
    width: 23%;
    /* background-color: #20232A; 282c34*/
    background-color: #282c34;
    padding: 2%;
    color: white;
    position: fixed;
}
#photo img{
    border-radius: 10%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    margin-bottom: 1%;
}
#photo h3{
    position: absolute;
    bottom: 10%;
    width: 100%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 15%);
    padding-left: 5%;
    padding-right: 5%;
}
#side-bar hr{
    margin-bottom: 10%;
    margin-top: 2%;
}
#side-bar h4{
    display: inline;
    font-size: 18px;
}
#side-bar .info{
    line-height: 150%;
    display: block;
    margin-top: 1%;
    font-size: 16px;
    width: 84%;
    text-align: left;
    /* background-color: aqua; */
    margin-left: 8%;
}
.contacto{
    margin-bottom: 5%;
}
#side-bar h3{
    font-size: 20px;
}
#contenedor{
    /* background-color: rebeccapurple; */
    width:77% ;
    height: 100vh;
    position: absolute;
    left: 23%;
    top: 0%;
}
#contenedor img{
    position: absolute;
    right: 5%;
    top: 4%;
    width: 15%;
}
#contenedor #about{
    background-color: #dfdfdf;
    position: relative;
    top: 10%;
    left: -2%;
    width: 60%;
    height: 10vh;
    border: rgb(0, 110, 255) 1px solid;
}
#about h1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
}
#contenedor #education{
    background-color: #dfdfdf;
    position: relative;
    top: 29%;
    left: -2%;
    width: 60%;
    height: 10vh;
    border: rgb(0, 110, 255) 1px solid;
}
#education h1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
}
#contenedor #habilidad{
    background-color: #dfdfdf;
    position: relative;
    top: 50%;
    left: -2%;
    width: 60%;
    height: 10vh;
    border: rgb(0, 110, 255) 1px solid;
}
#habilidad h1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
}


#texto{
    /* background-color: red; */
    position: absolute;
    top: 24%;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: 150%;
    text-align: justify;
}
#texto1{
    /* background-color: red; */
    position: absolute;
    top: 53%;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: 200%;
    text-align: justify;
}
#texto2{
    /* background-color: red; */
    position: absolute;
    top: 84%;
    padding-left: 4%;
    padding-right: 2%;
    vertical-align: 150%;
    text-align: justify;
}
@media only screen and (max-width:1000px) {
    /* For tablets: */
    #side-bar, #photo{
      width: 30%;
      padding: 5%;
    }
    #photo h3{
        font-size:larger;
    }
    #contenedor{
        width: 70%;
        left: 30%;
    }
    #side-bar h4{
        display: block;
        font-size: 18px;
        line-height: 150%;
    }
    #side-bar .info{
        font-size: 16px;
        width: 84%;
        text-align: left;
        /* background-color: aqua; */
        margin-left: 10%;
    }
    #side-bar{
        padding: 3%;
    }
    .contacto{
        margin-bottom: 5%;
    }
    #about h1{
        font-size: 21px;
    }
    #education h1{
        font-size: 21px;
    }
    #habilidad h1{
        font-size: 21px;
    }
    #texto{
        top:21%
    }
    #texto1{
        top: 54%;
    }
    #contenedor #about{
        height: 8vh;
    }
    #contenedor #education{
        height: 8vh;
        top: 35%;
    }
    #contenedor #habilidad{
        height: 8vh;
    }
    #texto2{
        top: 78%;
    }
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    #side-bar, #photo{
      width: 40%;
      padding: 5%;
    }
    #photo h3{
        font-size:large;
    }
    #contenedor{
        width: 60%;
        left: 40%;
    }
    #side-bar h4{
        display: block;
        font-size: 18px;
        line-height: 150%;
    }
    #side-bar .info{
        font-size: 16px;
        width: 84%;
        text-align: left;
        /* background-color: aqua; */
        margin-left: 10%;
    }
    #side-bar{
        padding: 3%;
    }
    .contacto{
        margin-bottom: 5%;
    }
    #about h1{
        font-size: 16px;
    }
    #education h1{
        font-size: 16px;
    }
    #habilidad h1{
        font-size: 16px;
    }
    #texto{
        top:18%;
        font-size:13px;
        margin-left: 1%;
    }
    #texto1{
        top: 57%;
        font-size:13px;
        margin-left: 1%;
    }
    #contenedor #about{
        height: 6vh;
        width:80%;
    }
    #contenedor #education{
        height: 6vh;
        top: 43%;
        text-align: center;
        width:80%;
    }
    #contenedor #habilidad{
        height: 6vh;
        width:80%;
        top:59%;
    }
    #texto2{
        top: 79%;
        font-size:13px;
        margin-left: 5%;
    }
}

@media only screen and (max-width:500px) {
    /* For Phones */
    #side-bar, #photo{
      width: 40%;
      padding: 5%;
    }
    #photo h3{
        font-size: 17px;
        font-weight:bolder;
    }
    #contenedor{
        width: 60%;
        left: 40%;
    }
    #side-bar h4{
        display: block;
        font-size: 14px;
        line-height: 150%;
    }
    #side-bar .info{
        font-size: 12px;
        width: 80%;
        text-align: left;
        /* background-color: aqua; */
        margin-left: 12%;
        height: auto;
    }
    #side-bar{
        padding: 3%;
    }
    #side-bar h3{
        margin-top: 5%;
    }
    #side-bar, #photo{
        width: 45%;
    }
    #contenedor{
        width: 55%;
        left: 45%;
    }
    #about h1{
        font-size: 12px;
    }
    #education h1{
        font-size: 12px;
    }
    #habilidad h1{
        font-size: 12px;
    }
    #texto{
        top:17%;
        font-size:10px;
        margin-left: 1%;
        margin-right: 3%;
    }
    #texto1{
        top: 55%;
        font-size:10px;
        margin-left: 1%;
        margin-right: 3%;
    }
    #contenedor #about{
        height: 5vh;
        width:90%;
    }
    #contenedor #education{
        height: 5vh;
        top: 43%;
        text-align: center;
        width:90%;
    }
    #contenedor #habilidad{
        height: 5vh;
        width:90%;
        top: 58%;
    }
    #texto2{
        top: 75%;
        font-size:10px;
        margin-left: 5%;
        margin-right: 3%;
    }
}

